*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

@font-face {
    font-family: 'kenya';
    src: url('C:\Users\Utilisateur\Desktop\kenyan_coffee_bd.otf');
  }

#MenuDeroulant{ 
    display: flex;
   align-items: center;
    font-size: 20px;  
}
svg{
    width: 1em;
    height: 1em;
}

.LogoYoutube{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border: 2px solid black;
}

.Naviguer{
    
    background-color: white;
    width: 19%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: transform 200ms ;
}
.Terax{
    background: rgba(0, 0, 0, 0.5);
    scroll-behavior: none;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
}
.Wakfu{
    width: 2em;
    height: 2em;
}
.Recherche{
    width: 60%;
    height: 7vh;
    border-radius: 40px 0 0 40px;
    border: none;
    outline: none;
}
.Recherche:focus{
    outline: 1px solid rgb(120, 120, 215);
}
.NaviguationGauche{
    display: flex;
    align-items: center;
    position: fixed;
    width: 10%;
    border: 2px solid orange;
    height: 100vh;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    color: black;
    box-sizing: border-box;
}
.BTN{
    margin-bottom: 3vh;
    height: 10vh;
    width: 100%;
    border: 1px solid black;
}
.Principale{
    margin:  0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid rgb(0, 255, 149);
    color: black;
    width: 95%;
}
.GridP{
    border: 2px solid black;
    position: absolute;
    top: 11vh;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
    box-sizing: border-box;
}
.GridA{
    border: 1px solid rgb(23, 184, 206);
    display: grid;
    height: 200px;
    width: 100%;
    margin-bottom: 2%;
    grid-template-columns: 35% 65%;
}
.GridVideoyoutube{
    grid-template-columns: 63% 37%;
}
.StyleMenuBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 6vh;
    border: 1px solid black;
    margin: 0vh 2vh 0vh 2vh;
}
.StyleMenuBtn2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    border: 1px solid black;
    margin: 0vh 2vh 3vh 2vh;
}
.StyleMenuBtnConnecter{
    display: grid;
    width: 25vh;
    height: 6vh;
    grid-template-columns: 30% 70%;
    border: 1px solid gray;
    border-radius: 40px;
    margin: 2vh 0vh 0vh 0vh;
}

.styleHome{
    padding: 3vh 3vh 3vh 3vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid rgb(0, 255, 149);
    color: black;
    width: 95%;
}
.styleHomeDiv{
    display: grid;
    grid-template-rows: 70% 30%;
    width: 32%;
    margin: 0 auto;
    border: 1px solid firebrick;
}
.styleSousmenu{
    display: grid;
    width: 100%;
    grid-template-columns: 15% 85%;
    margin: 2vh 0vh 2vh 0vh;

}
/*Pensez aux responsives à la toutes fin du projet */
